@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    overflow-x: hidden; 
}

header {
    margin-bottom: 100px;
    width: 800px;
    margin: auto;
}
header h1 {
    text-align: center;
}

header p {
    text-align: center;
}
article h2 {
    text-align: center;
}

article a {
    display: block;
    color: black;
    
}

article ul {
    width: 500px;
    margin: auto;
    line-height: 2em;
}

.imagem {
    width: 500px;
    margin: auto;
}

footer  {
    margin-top: 50px;
}

footer a {
    text-align: center;
    color: black;
}