@charset "UTF-8";

.conteudo {
    width: 600px;
    margin: auto;
    text-align: center;
}

h1, h2, p {
    text-align: center;
}

p {
    margin-bottom: 30px;
}

img {
    height: 300px;
    width: 600px;
}

.imagem {
    margin-bottom: 20px;
}

.links a {
    color: black;
}





